// Global Colors
$background-light: #ffffff;
$foreground-light: #171717;

$background-dark: #0a0a0a;
$foreground-dark: #ededed;

// Page Colors
$page-bg-light: #fafafa;
$page-fg-light: #ffffff;
$page-text-primary-light: #000000;
$page-text-secondary-light: #666666;
$page-button-primary-hover-light: #383838;
$page-button-secondary-hover-light: #f2f2f2;
$page-button-secondary-border-light: #ebebeb;

$page-bg-dark: #000000;
$page-fg-dark: #000000;
$page-text-primary-dark: #ededed;
$page-text-secondary-dark: #999999;
$page-button-primary-hover-dark: #ccc;
$page-button-secondary-hover-dark: #1a1a1a;
$page-button-secondary-border-dark: #1a1a1a;
